---
import Layout from '~/layouts/LandingLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'Web Development Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->
  <Hero
    id='web-landing-hero'
    subtitle="We offer a range of web development services to help businesses create a strong online presence. Our team of experts will work with you to create a website that is both visually appealing and functional."
    actions={[
      { variant: 'primary', text: 'Explore', href: '#web-landing-features', icon: 'tabler:square-rounded-arrow-down' },
      { variant: 'secondary', text: 'Visit Our Website', href: '/', icon: 'tabler:square-rounded-arrow-right' },
    ]}
    image={{
      src: '~/assets/images/business-process-automation-why-choose-us.webp',
      alt: 'RVBs Infrastructure Manages Everything'
    }}
  >
  <Fragment slot="title">
    <span class="landing-title">
      Professional Web Development Solutions Tailored to Your Needs
    </span>
  </Fragment>
  </Hero>

  <!-- Features3 Widget -->
  <Features2
    id='web-landing-features'
    tagline='We Do Everything'
    title="Our Services"
    subtitle="We offer a range of web development services to help businesses create a strong online presence. Our team of experts will work with you to create a website that is both visually appealing and functional."
    columns={3}
    items={[
      {
        title: 'Web Design',
        description:
          'We offer custom web design services to help you create a website that reflects your brand and engages your audience. Our team of designers will work with you to create a visually appealing website that is easy to navigate and optimized for search engines.',
        icon: 'tabler:brush',
      },
      {
        title: 'Web Development',
        description:
          'Our team of developers will work with you to create a website that is both visually appealing and functional. We use the latest technologies and best practices to ensure your website is fast, secure, and user-friendly.',
        icon: 'tabler:code',
      },
      {
        title: 'E-commerce Solutions',
        description:
          'We offer e-commerce solutions to help you sell your products and services online. Everything from payment gateways to product pages, we have you covered. ',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'API Development',
        description:
          'We offer API development services to help you connect your website to other platforms and services. Our team of experts will work with you to create custom APIs that meet your unique needs.',
        icon: 'tabler:file-text',
      },
      {
        title: 'Web Hosting',
        description:
          'We offer web hosting services to ensure your website is fast, secure, and reliable. Our team of experts will work with you to find the right hosting solution for your needs, whether you are a small business or a large enterprise.',
        icon: 'tabler:server',
      },
      {
        title: 'SEO Services',
        description:
          'We offer SEO services to help you rank higher in search engine results. Our team of experts will work with you to create an SEO strategy that drives organic traffic to your website.',
        icon: 'tabler:brand-google',
      },
    ]}
  />

  <!-- Call to Action Widget -->
  <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>

<style>
.landing-title {
  background: -webkit-linear-gradient(45deg,#ff0f7b, #f89b29); /* Example gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Required for gradients on text */
}

#web-landing-hero {
  background: linear-gradient(45deg, #ee0979, #ff6a00); /* Example gradient */
}
</style>