---
import CallToAction from '../components/widgets/CallToAction.astro';
import Hero2 from '../components/widgets/Hero2.astro';
import Content from '../components/widgets/Content.astro';
import Features2 from '../components/widgets/Features2.astro';
import Layout from '../layouts/PageLayout.astro';
import Features3 from '../components/widgets/Features3.astro';
import Steps from '../components/widgets/Steps.astro';

const metadata = {
    title: 'Business Process Automation - Services',
    robots: {
        index: true,
        follow: true,
    },
    description: 'Discover how our Business Process Automation services streamline operations, increase efficiency, and reduce costs. Learn more about our innovative solutions.',
    openGraph: {
        title: 'Business Process Automation - Services',
        description: 'Discover how our Business Process Automation services streamline operations, increase efficiency, and reduce costs. Learn more about our innovative solutions.',
        images: [
            {
                url: '~/assets/images/business-process-automation-service-main.webp',
                width: 800,
                height: 600,
                alt: 'Business Process Automation Service Production Line in Sync',
            },
        ],
    },
    twitter: {
        cardType: 'summary_large_image',
    },
};
---

<Layout metadata={metadata}>
    <Hero2
        actions={[{ variant:"primary", target: '', text: 'Start exploring', href: '#features' }]}
        image={{
            src: '~/assets/images/business-process-automation-service-main.webp',
            alt: 'Business Process Automation Service Production Line in Sync',
        }}
        >
        <Fragment slot="title">
            Business Process <span class="text-primary">Automation</span>
        </Fragment>

        <Fragment slot="subtitle">
            Step into the new era of business with our <span class="intro-text-bold">process automation</span> services. 
            We help businesses <span class="intro-text-bold">enhance</span> their efficiency, improve accuracy, and achieve scalability through software automation. 
            Transform your business operations and drive <span class="intro-text-bold">growth</span> with our tailored automation solutions.
        </Fragment>
    </Hero2>

    <!-- Features Section -->
    <Features2
        id='features'
        tagline='Streamline Operations'
        title="Our Automation Services",
        subtitle="Streamline Operations, Enhance Efficiency, and Drive Growth. Our automation services are designed to help businesses improve efficiency while reducing costs, using technology. We offer a range of services to help you streamline your operations and achieve your business goals."
        items={[
            {
                title: 'Automated Task Management',
                description: 'Eliminate manual tasks and reduce errors with our automated task management feature. This allows for more efficient use of resources.',
                icon: 'tabler:robot',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Real-Time Analytics',
                description: ' Gain insights into your business operations with real-time analytics. Make data-driven decisions and identify areas for improvement.',
                icon: 'tabler:hours-24',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Integration Capabilities',
                description: 'Our service can seamlessly integrate with your existing systems, ensuring a smooth transition and maximizing the benefits of automation.',
                icon: 'tabler:layers-intersect',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Scalability',
                description: 'As your business grows, our services can easily scale to meet increased demand, ensuring consistent performance and efficiency.',
                icon: 'tabler:trending-up',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'API Development',
                description: 'We offer API development services to help you connect your systems and applications, enabling seamless data exchange and communication.',
                icon: 'tabler:code-dots',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Customer Support',
                description: 'We provide round-the-clock customer support to ensure any issues are promptly addressed and your business operations run smoothly.',
                icon: 'tabler:device-imac-plus',
                classes:{ panel: 'service-card-features' },
            },
        ]},
    />

    <!-- How It Works Section -->
    <Steps
        tagline='Making Things Efficient'
        id='automation-steps'
        title='How Our Processes Works',
        subtitle='Our process automation services are designed to help you streamline your operations and achieve your business goals. Here is how our process works:'
        items={[
            {
            title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
            description:
                "We start by understanding your business needs and goals. Our team conducts a thorough consultation to identify areas for automation and develop a tailored plan. We agree on the scope of work, timeline, and deliverables to ensure alignment and transparency throughout the process.",
            icon: 'tabler:presentation',  
            },

            {
            title: 'Step 2: <span class="font-medium">Strategy Development</em>',
            description:
                "In this phase, we develop a comprehensive strategy for automating your business processes. We identify key areas for automation, define workflows, and select the right tools and technologies. Our goal is to create a roadmap that aligns with your business objectives and drives efficiency and growth.",
            icon: 'tabler:file-time',
            },
            {
            title: 'Step 3: <span class="font-medium">Implementation</span>',
            description:
                'Once the strategy is finalized, we move on to the implementation phase. Our team of experts will configure and deploy the automation tools, integrate them with your existing systems, and conduct thorough testing to ensure everything is working as expected. We also provide training and support to help your team adapt to the new processes.',
            icon: 'tabler:source-code',
            },
            {
                title: 'Step 4: <span class="font-medium">Training & Support</span>',
                description:
                    'We provide training and support to help your team adapt to the new processes and tools. Our team is available to answer any questions, provide guidance, and address any issues that may arise. We are committed to ensuring a smooth transition and helping you get the most out of our services.',
                icon: 'tabler:chart-bar',
            },
        ]}
    />

  <!-- Features3 Widget ************** -->
    <Features3
        tagline="Why We Stand Out"
        title="Our Differentiators",
        subtitle="We are committed to delivering exceptional service and value to our customers. Our unique approach and dedication to excellence set us apart from the competition. Here are some of the reasons why we stand out:"
        isBeforeContent={true}
        columns={3}

        items={[
            {
                title: 'Customer-Centric Approach',
                description: 'We put our customers first, ensuring that their needs and goals are met through our services. Our customer-centric approach is designed to foster lasting relationships and drive success.',
                icon: 'tabler:heart',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Adaptable Solutions',
                description: 'We offer adaptable solutions that can be customized to meet the unique needs of each business. Our flexible approach ensures that our services can evolve with your business.',
                icon: 'tabler:repeat',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Scalable Services',
                description: 'Our services are designed to scale with your business, ensuring that you can meet increased demand and achieve consistent performance. We help you grow without limitations.',
                icon: 'tabler:trending-up',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Innovative Technology',
                description: 'We leverage the latest technology to deliver innovative solutions that drive efficiency and growth. Our team is committed to staying ahead of the curve and delivering cutting-edge services.',
                icon: 'tabler:device-laptop',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Experienced Team',
                description: 'Our team of experts has years of experience in process automation and technology. We bring a wealth of knowledge and expertise to every project, ensuring that you receive the best possible service.',
                icon: 'tabler:star',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Quality Assurance',
                description: 'We are committed to delivering high-quality services that meet the highest standards of excellence. Our quality assurance processes ensure that our services are reliable, efficient, and effective.',
                icon: 'tabler:check',
                classes:{ panel: 'service-card-features' },
            },
        ]},
        image={{
            src: '~/assets/images/business-process-automation-why-choose-us.webp',
            alt: 'Business Process Automation Service Features',
        }}
    />

    <!-- Call to Action Section -->
    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>
    </CallToAction>

</Layout>