---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps from '~/components/widgets/Steps.astro';
import Pricing from '~/components/widgets/Pricing.astro';


const metadata = {
    title: 'Google Business Management',
};
---

<Layout metadata={metadata}>
    <Hero
        tagline="Services"
        actions={[{ variant:"primary", target: '', text: 'Start exploring', href: '/google-business-management#google-business-services' }]}
        image={{
            src: '~/assets/images/web-development-main.webp',
            alt: 'RVB Web Development Solutions Image',
        }}
        >
        <Fragment slot="title">
            Google Business Management
        </Fragment>

        <Fragment slot="subtitle">
            We help you manage your Google Business account to ensure that 
            your business is visible to your customers.
        </Fragment>
    </Hero>

        <!-- Google Business Services -->
        <Features2
        id='google-business-services'
        tagline='Your Business on Google'
        title='Google Services We Offer'
        subtitle='Our web development services are designed to help businesses create a strong online presence. We offer a range of services from website design to ecommerce solutions. Our team of experts will work with you to create a website that is both visually appealing and functional.'
        items={[
            {
                title: 'Google Business Profile Setup',
                description: 'We help you set up your Google Business Profile, ensuring that your business is visible to your customers and that you are able to manage your online presence effectively.',
                icon: 'tabler:brand-google',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Google Ads Management',
                description: 'We help you create and manage Google Ads campaigns to drive traffic to your website and increase your online visibility.',
                icon: 'tabler:ad-2',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Google Analytics Integration',
                description: 'We integrate Google Analytics into your website to help you track and analyze your website traffic, providing you with valuable insights into your online performance.',
                icon: 'tabler:brand-google-analytics',
                classes:{ panel: 'service-card-features' },
            },
        ]},
    />

    <!-- Content Section -->

    <Content
        id='Why Choose Us?'
        title='Why Choose Us?'
        subtitle='We are a team of experienced web developers who are passionate about helping businesses succeed online. We offer a range of web development services to help you create a strong online presence and grow your business. Here are a few reasons why you should choose us:'
        items={[
            {
                title: 'Experienced Team',
                description: 'Our team of experienced web developers has worked with businesses of all sizes and industries. We have the skills and expertise to create a website that is tailored to your unique needs and goals.',
                icon: 'tabler:circle',
            },
            {
                title: 'Custom Solutions',
                description: 'We understand that every business is unique, which is why we offer custom web development solutions to meet your specific requirements. We work closely with you to create a website that is not only visually appealing but also functional and user-friendly.',
                icon: 'tabler:layout-grid',
            },
            {
                title: 'Affordable Pricing',
                description: 'We offer competitive pricing on all our web development services, making it easy for you to get started with your online presence. We offer a range of packages to suit your needs and budget.',
                icon: 'tabler:currency-dollar',
            },
            {
                title: 'Post-Launch Support',
                description: 'Our relationship doesn’t end at deployment. We offer post-launch support to fix any issues and ensure smooth operation. We are here to help you succeed online.',
                icon: 'tabler:heart-filled',
            },

        ]}
        image={{ src: '~/assets/images/content-module-main.webp',
        alt: 'Main Services Image',

        }}
    />

        <!-- Our Process -->

        <Steps
        id='Why Choose Us?'
        title='Our Process is Easy. So you can focus on your business.',
        items={[
            {
            title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
            description:
                "We start by understanding your unique needs and goals. Our team will then craft a detailed proposal outlining the scope of work, timelines, and cost.",
            icon: 'tabler:presentation',  
            },

            {
            title: 'Step 2: <span class="font-medium">Planning & Design</em>',
            description:
                "Our team will gather all necessary information and create a project plan. We then move on to the design phase where we create the designs for your website.",
            icon: 'tabler:file-time',
            },
            {
            title: 'Step 3: <span class="font-medium">Development & Testing</span>',
            description:
                'This is where our developers bring the designs to life. We adhere to best coding practices and build a website that is not only visually appealing but also functional and user-friendly.',
            icon: 'tabler:source-code',
            },
            {
            title: 'Step 4: <span class="font-medium">Deployment</span>',
            description:
                'Once everything is tested and approved by you, we deploy the website and make it live for the world to see.',
            icon: 'tabler:shareplay',
            },
            {
            title: 'Step 5: <span class="font-medium">Post Launch Support</span>',
            description:
                'Our relationship doesn’t end at deployment. We offer post-launch support to fix any issues and ensure smooth operation.',
            icon: 'tabler:heart-filled',
            },
        ]}
        image={{ src: '~/assets/images/steps-module-main.png',
        alt: 'Main Services Image',

        }}
    />

    <!-- Pricing Section -->
    <Pricing
        title="Our Web Development Packages"
        subtitle="Choose the package that best fits your needs and budget. We offer a range of web development packages to help you get started with your online presence."
        prices={[
            {
                title: 'basic',
                subtitle: 'Optimal choice for personal use',
                price: 750,
                period: 'Starting At',
                items: [
                    {
                        description: '1-5 Page Website',
                    },
                    {
                        description: 'Brand Integration',
                    },
                    {
                        description: 'WordPress Theme'
                    },
                    {
                        description: '3 Revisions',
                    },
                ],
                callToAction: {
                    target: '_blank',
                    text: 'Get started',
                    href: '/contact',
                },
            },
            {
                title: 'Business',
                subtitle: 'Optimal choice for small teams',
                price: 2499,
                period: 'starting at',
                items: [
                    {
                        description: '5-10 Page Website',
                    },
                    {
                        description: '10 Stock Photos',
                    },
                    {
                        description: 'Agency Supplied Content',
                    },
                    {
                        description: 'WordPress Theme',
                    },
                    {
                        description: '10 Revisions',
                    },
                    {
                        description: 'Domain Purchasing',
                    },
                ],
                callToAction: {
                    target: '_blank',
                    text: 'Get started',
                    href: '/contact',
                },
                hasRibbon: true,
                ribbonTitle: 'popular',
            },
            {
                title: 'premium',
                subtitle: 'Optimal choice for large teams',
                price: 10000,
                period: 'one-time',
                items: [
                {
                    description: 'everything in business',
                },
                {
                    description: 'Custom Features',
                },
                {
                    description: 'Ecommerce Integration',
                },
                {
                    description: 'Advanced SEO Package',
                },
                {
                    description: '1 Year Hosting Included',
                },
                {
                    description: 'Custom Email Setup',
                },
                {
                    description: 'Social Media Integration',
                },
                ],
                callToAction: {
                target: '_blank',
                text: 'Get started',
                href: '/contact',
                },
            },
        ]},
    />

    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>