---
import CallToAction from '../components/widgets/CallToAction.astro';
import Features2 from '../components/widgets/Features2.astro';
import Hero2 from '../components/widgets/Hero2.astro';
import Layout from '../layouts/PageLayout.astro';
import Features3 from '../components/widgets/Features3.astro';


const metadata = {
    title: 'Google Business Management - Services',
    description: 'We help you manage your Google Business account to ensure that your business is visible to your customers.',
    robots: {
        index: true,
        follow: true,
    },
    openGraph: {
        title: 'Google Business Management - Services',
        description: 'We help you manage your Google Business account to ensure that your business is visible to your customers.',
        images: [
            {
                url: '~/assets/images/google-business-management-why-choose-us.webp',
                width: 800,
                height: 600,
                alt: 'Google Business Management Service',
            },
        ],
    },
    twitter: {
        cardType: 'summary_large_image',
    },
};
---

<Layout metadata={metadata}>
    <Hero2
        actions={[{ variant:"primary", target: '', text: 'Start Exploring', href: '/google-business-management#google-business-services' }]}
        image={{
            src: '~/assets/images/google-business-management-why-choose-us.webp',
            alt: 'Google Business Management Service',
        }}
        >
        <Fragment slot="title">
            Google Business <span class="text-primary">Management</span>
        </Fragment>

        <Fragment slot="subtitle">
            Google is an ever-changing, <span class="intro-text-bold">vast</span> landscape that can sometimes be difficult to stay on top of. 
            That's why we offer <span class="intro-text-bold">management</span> as a  service. 
            We provide tailored solutions to <span class="intro-text-bold">enhance</span> your online presence, drive traffic, and <span class="intro-text-bold">gain</span> valuable insights.
            Unlock the full potential of <span class="intro-text-bold">Google Business Services</span>.  
        </Fragment>
    </Hero2>

        <!-- Google Business Services -->
        <Features2
        id='google-business-services'
        tagline='Your Business on Google'
        title='Google Services We Offer'
        subtitle='Our services intertwine your business to the Google landscape. Google is the most used search engine to this day. With billions of searches daily, it is unjustifiable to not tap into this market.'
        items={[
            {
                title: 'Google My Business',
                description: 'We setup and manage your Google profile. Things like products, business hours, updates, responses to reviews, and many more things are handled by us. We keep up-to-date with Googles features, making sure you get the newest updates and your profile remains strong.',
                icon: 'tabler:brand-google',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Google Ads Management',
                description: 'We bring you your ideal customers with Google Ads. Enjoy long-term benefits like sustained growth, improved brand visibility, and higher ROI. Plus, with detailed performance insights, we can make informed decisions to continually optimize your strategy.',
                icon: 'tabler:ad-2',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Google Analytics',
                description: 'Google Analytics is a great way to see your websites performance. Gain in-depth analysis and actionable insights to understand user behavior, track key metrics, and make data-driven decisions. We provide custom reports to improve your ROI and stay ahead of the competition.',
                icon: 'tabler:brand-google-analytics',
                classes:{ panel: 'service-card-features' },
            },
        ]},
    />

    <!-- Features3 Widget ************** -->
    <Features3
        tagline="Managed Services"
        title="Why Have Us Manage Your Google Business Account?",
        subtitle="We offer a range of managed services to help you get the most out of your Google Business account. Our team of experts will work with you to create a customized solution that meets your needs and helps you achieve your goals."
        isBeforeContent={true}
        columns={3}

        items={[
            {
                title: 'Expertise',
                description: 'Our team of experts has years of experience managing Google Business accounts and can help you create a strong online presence for your business.',
                icon: 'tabler:star',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Custom Solutions',
                description: 'We help you make your Google account how you want it. We offer custom solutions to help you achieve your business goals and create a strong online presence for your business.',
                icon: 'tabler:settings',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Dedicated Support',
                description: 'We provide dedicated support to help you manage your Google Business account and ensure that your business is visible to your customers.',
                icon: 'tabler:headset',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Performance Tracking',
                description: 'We help you track and analyze your online performance, providing you with valuable insights into your website traffic and online visibility.',
                icon: 'tabler:chart-bar',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Staying Ahead',
                description: 'We stay ahead of updates and changes to Google Business to ensure that your business is always visible to your customers and that you are able to manage your online presence effectively.',
                icon: 'tabler:file-text',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Continuous Improvement',
                description: 'We are committed to continuous improvement and will work with you to optimize your online presence and achieve your business goals.',
                icon: 'tabler:refresh',
                classes:{ panel: 'service-card-features' },
            },
        ]},
        image={{
            src: '~/assets/images/about-us-main.webp',
            alt: 'Google Business Management Service Features',
        }}
    />

    <!-- Call to Action Section -->
    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
            variant: 'primary',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>