---
export const prerender = false

import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import PortfolioItem from '~/components/widgets/PortfolioItem.astro';

const metadata = {
  title: 'RVB Corp - Burlingtons Number One Web Design Company',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Lets Get Started',
        href: '/contact',
        target: '_self',
        class: 'text-white bg-primary hover:bg-secondary',
      },
      {
        variant: 'secondary',
        text: 'See Our Work',
        href: '/portfolio',
        target: '_self',
      }
    ]}
    image={{ src: '~/assets/images/rvb-main-hero.svg', alt: 'RVB Corp Hero Image' }},
    
  >
    <Fragment slot="title">
      Tailored Tech Solutions for businesses of all sizes.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      We specialize in creating custom web solutions including, web hosting, web design, process automation,
      custom api development, analytics, and much more.
      </span>
        Explore our many services and see how we can accelerate your business operations.
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features2
    id="Services"
    tagline="Services"
    title="Our Agency Helps You in Multiple Ways."
    subtitle="We have a wide range of services. Visit our service page to view them all."
    items={[
      {
        title: 'Web Development',
        description:
          'Our team of experienced developers design and build bespoke websites tailored to your business needs. We focus on creating engaging, user-friendly experiences that effectively communicate your brand and drive growth.',
        icon: 'tabler:code-dots',
        callToAction: {
          text: 'Expore Our Services',
          href: '/web-development',
          target: '_self',
        },

        classes: {
          panel: 'service-card'
        },
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Our SEO services are designed to increase your website’s visibility in search engine results. We use proven strategies and techniques to improve your ranking, drive traffic, and boost your online presence.',
        icon: 'tabler:checklist',
        callToAction: {
          text: 'Expore Our Services',
          href: '/search-engine-optimization',
          target: '_self',
        },

        classes: {
          panel: 'service-card'
        },
      },
      {
        title: 'Business Process Automation',
        description:
          'Our business process automation services streamline your operations, reduce manual tasks, and increase efficiency. We help businesses automate their processes so they can focus on what they do best - serving their customers.',
        icon: 'tabler:arrows-left-right',
        callToAction: {
          text: 'Expore Our Services',
          href: '/business-process-automation',
          target: '_self',
        },

        classes: {
          panel: 'service-card'
        },
      },
      {
        title: 'Google Business Management',
        description:
          "We help businesses leverage Google’s tools and services to their advantage. From setting up your Google My Business profile to managing your online reviews, we ensure your business gets noticed on Google.",
        icon: 'tabler:brand-google-filled',
        callToAction: {
          text: 'Expore Our Services',
          href: '/google-business-management',
          target: '_self',
        },

        classes: {
          panel: 'service-card'
        },
      },
      {
        title: 'Web Hosting',
        description:
          'We provide reliable, secure web hosting solutions that ensure your website is always accessible and performing optimally. Our hosting services include regular backups, 99.9% uptime, and 24/7 support.',
        icon: 'tabler:server',
        callToAction: {
          text: 'Expore Our Services',
          href: '/web-hosting',
          target: '_self',
        },

        classes: {
          panel: 'service-card'
        },
      },
    ]}
  />

  <!-- Content Section -->
  <PortfolioItem
    tagline='Our Work'
    title="Recent Projects"
    subtitle="We have worked with a variety of clients across different industries. Here are some of our recent projects."
    callToAction1={{
      text: 'View All Projects',
      href: '/portfolio',
      target: '_self',
    }}
    items={[
      {
          title: 'Legacy Exteriors Inc',
          description: 'Windsors Excavation Expert',
          callToAction: {
              href: "https://legacyexteriorsinc.com", 
              target: "_blank", 
              text: "Visit the Website", 
              icon: 'tabler:chevron-right', 
              variant: 'link', 
          },
          classes: { 

              container2: 'bg-[url("~/assets/images/legacy-exteriors-portfolio-bg-fixed.webp")] loading="lazy"',
              description: 'text-muted',
          }
      },
      {
          title: 'S&V Memorials',
          description: 'Windsors Top Memorial Service',
          callToAction: {
              href: "https://svmemorials.com", 
              target: "_blank", 
              text: "Visit the Website", 
              icon: 'tabler:chevron-right', 
              variant: 'link', 
          },
          classes: {container2: 'bg-[url("~/assets/images/sv-memorials-portfolio-bg.webp")]'}
      },
      {
          title: 'Seniors Helper',
          description: 'Windsors Excavation Expert',
          callToAction: {
              href: "https://seniorshelper.ca", 
              target: "_blank", 
              text: "Visit the Website", 
              icon: 'tabler:chevron-right', 
              variant: 'link',
          },
          classes: {
              container2: 'bg-[url("~/assets/images/seniors-helper-portfolio-bg.webp")]',
              panel: 'place-content-end',
              title: 'text-white',
              description: 'text-muted'
          },
      },
  ]},

  />

  <!-- Brand Section -->
  <Brands
    title="Our Partnerships"
    subtitle="We work with the best to deliver the best."
    images={[
      {
        src: '~/assets/images/Shopify_Primary_Inverted-2.png',
        alt: 'Shopify Partnership Logo',
      },
      {
        src: '~/assets/images/DO_Logo_Horizontal_Blue.png',
        alt: 'Digital Ocean Partnership Logo',
      },
      {
        src: '~/assets/images/google-cloud-partnership-badge.png',
        alt: 'Google Cloud Partnership Logo',
      },
    ]},
  >
  </Brands>

  <!-- Steps Widget ****************** -->

  <Steps
    id='Why Choose Us?'
    title='Working with us is easy. So you can focus on what you do best.',
    items={[
      {
        title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
        description:
          "We start by understanding your unique needs and goals. Our team will then craft a detailed proposal outlining the scope of work, timelines, and cost.",
        icon: 'tabler:presentation',
      },
      {
        title: 'Step 2: <span class="font-medium">Planning & Design</em>',
        description:
          "Our team will gather all necessary information and create a project plan. We then move on to the design phase where we create the designs for your website.",
        icon: 'tabler:file-time',
      },
      {
        title: 'Step 3: <span class="font-medium">Development & Testing</span>',
        description:
          'This is where our developers bring the designs to life. We adhere to best coding practices and build a website that is not only visually appealing but also functional and user-friendly.',
        icon: 'tabler:source-code',
      },
      {
        title: 'Step 4: <span class="font-medium">Deployment</span>',
        description:
          'Once everything is tested and approved by you, we deploy the website and make it live for the world to see.',
        icon: 'tabler:shareplay',
      },
      {
        title: 'Step 5: <span class="font-medium">Post Launch Support</span>',
        description:
          'Our relationship doesn’t end at deployment. We offer post-launch support to fix any issues and ensure smooth operation.',
        icon: 'tabler:heart-filled',
      },
    ]}
    image={{ src: '~/assets/images/steps-module-main.png',
    alt: 'Main Services Image',

    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Latest Scoop from Our Desk"
    information={`Check out our Blog page where we talk about projects, handy tips, and all things web. Dive in for more.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Some Common Questions"
    subtitle="We’re here to help you make an informed decision. Here are some common questions we get asked."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How long does it take to design and develop a website?',
        description:
          "Typically, a website takes between 1 to 3 weeks to complete. However, this duration can fluctuate based on your unique requirements. During our initial consultation, we’ll gain a better understanding of your needs and will be able to provide a more precise timeline.",
      },
      {
        title: 'How much input will I have during the design process?',
        description:
          "Your input guides our design process. We initiate projects with a discovery session to understand your brand and goals, then involve you at every step, presenting concepts for your approval to ensure the website accurately represents your business.",
      },
      {
        title: "Can you provide ongoing maintenance and updates after the website is launched?",
        description:
          "Yes, we offer ongoing maintenance and update services post-launch to ensure your website remains current and functional. The specifics of these services can be discussed during our consultation.",
      },
      {
        title: 'Do you provide training or support for website management after launch?',
        description:
          "Yes, we offer training and support to help you manage your website post-launch. We provide tutorials and documentation to guide you through the process and are available to answer any questions you may have.",
      },
    ]}
  />

  <!-- Testimonials Widget ****************** -->

  <Testimonials
    tagline='Testimonials'
    title="Words from Our Amazing Clients"
    subtitle="Our favourite part of this job is helping out members of our local communities. We thank everybody for their kind words."
    testimonials={[
      {
        testimonial: `Petar worked so hard for me. Im almost 60 and retired. I needed one page simple website for my new business. He listened and created perfectly what I needed. Hes very patient as I am Not tech savy! Thank you!!`,
        name: 'Donna Irving',
        job: 'Seniors Helper - Owner',
      },
      {
        testimonial: `Great service. Working on improving SEO constantly. Easy to get a hold of and replies usually within hours. Changes are made the same day. We both continue to adjust the website if we notice where improvements can be made.`,
        name: 'Alex Orton',
        job: 'Legacy Exteriors Inc - Owner',
      },
      {
        testimonial:
          'The entire team at RVB is incredibly professional and they are experts in their field. I’m really happy that I found a reliable company where I could complete everything I needed done for my website. I look forward to embarking on our marketing campaign together!',
        name: 'Angelique Roussos',
        job: 'Monkeys At Work - Owner',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>
