---
import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Image from '~/components/common/Image.astro';
import { getImage } from 'astro/assets';

const metadata = {
  title: 'RVB Corp - Burlingtons Number One Web Design Company',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Lets Get to Work',
        href: 'https://www.rvbcorp.com/contact',
        target: '_blank',
        class: 'text-white bg-primary hover:bg-secondary',
      },
      {
        variant: 'secondary',
        text: 'See Our Work',
        href: 'https://www.rvbcorp.com/portfolio/',
        target: '_blank',
      }
    ]}
    image={{ src: '~/assets/images/rvb-main-hero.svg', alt: 'RVB Corp Hero Image' }}
  >
    <Fragment slot="title">
      Tailored Data Solutions for businesses of all sizes.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      We specialize in creating custom web solutions including, web hosting, web design, process automation,
      custom api development, analytics, and much more.
      </span>
        Explore our many services and see how we can accelerate your business operations.
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="Services"
    tagline="Services"
    title="Our Agency Helps You in Multiple Ways."
    subtitle="We have a wide range of services. Visit our service page to view them all."
    items={[
      {
        title: 'Web Development',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:code-dots',
        callToAction: {
          text: 'See Full Service',
          href: '#',
          type: 'button',
          class: 'text-default flex flex-row items-center hover:bg-secondary text-white py-2 px-4 rounded ',
          variant: 'primary',
        },
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:checklist',
        callToAction: {
          text: 'See Full Service',
          href: '#',
          class: 'text-default flex flex-row items-center',
        },
      },
      {
        title: 'Business Process Automation',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:arrows-left-right',
        callToAction: {
          text: 'See Full Service',
          href: '#',
          class: 'text-default flex flex-row items-center',
        },
      },
      {
        title: 'Google Business Management',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:brand-google-filled',
        // Add Button to Call to Action
        callToAction: {
          text: 'See Full Service',
          href: '#',
          class: 'text-default flex flex-row items-center',
        },
      },
    ]}
  />

  <!-- Brand Section -->
  <Brands
    title="Our Partnerships"
    subtitle="We work with the best to deliver the best."
    icons={[
    ]}
    images={[
      {
        src: '~/assets/images/Shopify_Primary_Inverted.svg',
        alt: 'Shopify Partnership Logo',
      },
      {
        src: '~/assets/images/google-cloud-partnership-badge.png',
        alt: 'Google Cloud Partnership Logo',
      },
      {
        src: '~/assets/images/DO_Logo_Horizontal_Blue.png',
        alt: 'Digital Ocean Partnership Logo',
      },
    ]},
  

  classes={{ container: 'my-8' }}  
  
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id='Why Choose Us?'
    title='Our Process is Easy. So you can focus on your business.',
    items={[
      {
        title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
        description:
          "We start by understanding your unique needs and goals. Our team will then craft a detailed proposal outlining the scope of work, timelines, and cost.",
        icon: 'tabler:presentation',
      },
      {
        title: 'Step 2: <span class="font-medium">Planning & Design</em>',
        description:
          "Our team will gather all necessary information and create a project plan. We then move on to the design phase where we create the designs for your website.",
        icon: 'tabler:file-time',
      },
      {
        title: 'Step 3: <span class="font-medium">Development & Testing</span>',
        description:
          'This is where our developers bring the designs to life. We adhere to best coding practices and build a website that is not only visually appealing but also functional and user-friendly.',
        icon: 'tabler:source-code',
      },
      {
        title: 'Step 4: <span class="font-medium">Deployment</span>',
        description:
          'Once everything is tested and approved by you, we deploy the website and make it live for the world to see.',
        icon: 'tabler:shareplay',
      },
      {
        title: 'Step 5: <span class="font-medium">Post Launch Support</span>',
        description:
          'Our relationship doesn’t end at deployment. We offer post-launch support to fix any issues and ensure smooth operation.',
        icon: 'tabler:heart-filled',
      },
    ]}
    image={{ src: '~/assets/images/steps-module-main.png',
    alt: 'Main Services Image',

    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Welcome to our FAQ section, for insightful answers to your tech questions, designed for your convenience."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What services do you offer for small businesses?',
        description:
          "Our main services is web development solutions, but we also offer a wide range of services including web hosting, web design, process automation, custom api development, Google Ads Management, Google Business Management, and much more.",
      },
      {
        title: 'How long does it take to design and develop a website?',
        description:
          "Typically, a website project takes between 1 to 8 weeks to complete. However, this duration can fluctuate based on your unique requirements. During our initial consultation, we’ll gain a better understanding of your needs and will be able to provide a more precise timeline tailored to your specific project.",
      },
      {
        title: 'How much input will I have during the design process?',
        description:
          "Your input guides our design process. We initiate projects with a discovery session to understand your brand and goals, then involve you at every step, presenting concepts for your approval to ensure the website accurately represents your business.",
      },
      {
        title: "Can you provide ongoing maintenance and updates after the website is launched?",
        description:
          "Yes, we offer ongoing maintenance and update services post-launch to ensure your website remains current and functional. The specifics of these services can be discussed during our consultation.",
      },
      {
        title: 'How do you ensure the security of the websites you develop?',
        description:
          "We prioritize security in all our projects. We implement best practices to safeguard your website from potential threats, including SSL certificates, secure hosting, and regular security updates.",
      },
      {
        title: 'Do you provide training or support for website management after launch?',
        description:
          "Yes, we offer training and support to help you manage your website post-launch. We provide tutorials and documentation to guide you through the process and are available to answer any questions you may have.",
      },
    ]}
  />

  <!-- Testimonials Widget ****************** -->

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'https://www.rvbcorp.com/contact-us/',
        target: '_blank',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      Tailored Data Solutions
    </Fragment>

    <Fragment slot="subtitle">
      Ensure your businesses visibility in the digital landscape. Contact us for your website development needs.
    </Fragment>
  </CallToAction>
</Layout>
