---
import Layout from '../layouts/PageLayout.astro';
import BlogCategoryPosts from '../components/widgets/BlogCategoryPosts.astro';
import Hero from '../components/widgets/Hero.astro';

const metadata = {
    title: 'Our Portfolio | RVB Data Sciences - Showcasing Our Best Work',
    ignoreTitleTemplate: true,
    description: "Explore our portfolio of stunning projects. From web design to branding, we showcase our best work to demonstrate our expertise and creativity. Let’s build something amazing together!",
    robots: {
        index: true,
        follow: true,
    },
    openGraph: {
        title: 'Our Portfolio | RVB Data Sciences - Showcasing Our Best Work',
        description: "Explore our portfolio of stunning projects. From web design to branding, we showcase our best work to demonstrate our expertise and creativity. Let’s build something amazing together!",
        images: [
        {
            url: '~/assets/images/rvb-main-hero.svg',
            width: 800,
            height: 600,
            alt: 'RVB Corp - Burlingtons Premium Web Agency & Digital Marketing Firm',
        },
        ],
    },
    twitter: {
        cardType: 'summary_large_image',
    },
}

---

<Layout metadata={metadata}>
    <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto ">
        <Hero
        subtitle="Explore a showcase of our tailored work. See the challenges we tackled, the services we provided, and the metrics that demonstrate meaningful results."
        tagline="Our Portfolio"
        >
        <Fragment slot="title">
            Crafted Solutions, Proven Results
        </Fragment>
        </Hero>
        <BlogCategoryPosts />
        <!--
            <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
            <PostTags tags={allTags}  title="Search by Tags:" />
        -->
        </section>
</Layout>