---
import CallToAction from '../components/widgets/CallToAction.astro';
import Hero2 from '../components/widgets/Hero2.astro';
import Layout from '../layouts/PageLayout.astro';
import Features2 from '../components/widgets/Features2.astro';
import Steps from '../components/widgets/Steps.astro';
import Steps2 from '../components/widgets/Steps2.astro';

const metadata = {
    title: 'Search Engine Optimization - Services',
    description: "Improve your website’s visibility and drive more organic traffic with our search engine optimization services. Our team of experts will help you optimize your website for search engines, ensuring that your website ranks higher in search results and attracts more visitors.",
    robots: {
        index: true,
        follow: true,
    },
    openGraph: {
        title: 'Search Engine Optimization - Services',
        description: "Improve your website’s visibility and drive more organic traffic with our search engine optimization services. Our team of experts will help you optimize your website for search engines, ensuring that your website ranks higher in search results and attracts more visitors.",
        images: [
            {
                url: '~/assets/images/seo-service-main.webp',
                width: 800,
                height: 600,
                alt: 'Search Engine Optimization Service Search Bar',
            },
        ],
    },
    twitter: {
        cardType: 'summary_large_image',
    },
};
---

<Layout metadata={metadata}>
    <Hero2
        actions={[{ variant:"primary", target: '', text: 'Start Exploring', href: '#features' }]}
        image={{
            src: '~/assets/images/seo-service-main.webp',
            alt: 'Search Engine Optimization Service Search Bar',
        }}
        >
        <Fragment slot="title">
            Search Engine <span class="text-primary">Optimization</span>
        </Fragment>

        <Fragment slot="subtitle">
            Improve your websites visibility and drive more organic <span class="intro-text-bold">traffic</span> with our SEO services.
            SEO is a rewarding <span class="intro-text-bold">investment</span> that can give your business a competitive edge in your local market.
            Explore how we leverage key elements to deliver you <span class="intro-text-bold">successful</span> results.
        </Fragment>
        
    </Hero2>

    <!-- SEO Features -->
    <Features2
        id='features'
        tagline='Making Your Website Seen and Heard'
        title='Our SEO Services'
        subtitle='We offer a range of SEO services to help you improve your websites visibility and drive more organic traffic. We use a combination of the listed to services to build you a custom SEO plan.'
        items={[
            {
                title: 'Keyword Research',
                description: 'We conduct in-depth keyword research to identify the most relevant keywords for your website, helping you attract your target audience and clientele.',
                icon: 'tabler:key',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'On-Page Optimization',
                description: 'Your websites on-page elements, including meta tags, headings, and content, are optimized to match your campaign. This keeps things consistent when your website is shared and crawled.',
                icon: 'tabler:file-plus',
                classes:{ panel: 'service-card-features' },
            },
            {
                title:'Content Creation',
                description: 'We create high-quality, SEO-friendly content for your website, including blog posts, articles, landing pages, and more. This increases the engagement on your website.',
                icon: 'tabler:file-text',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Link Building',
                description: 'We build high-quality backlinks to your website from authoritative websites, helping you improve your search engine rankings by appearing in more areas on the web.',
                icon: 'tabler:link',
                classes:{ panel: 'service-card-features' },

            },
            {
                title: 'Local SEO',
                description: 'We optimize your website for local search, helping you attract more local customers and improve your search engine rankings in your target market.',
                icon: 'tabler:current-location',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Technical SEO',
                description: 'We optimize your websites technical aspects, including site speed, responsiveness, and schema markup. This provides a good browsing experience for your visitors, and that makes Google happy.',
                icon: 'tabler:terminal-2',
                classes:{ panel: 'service-card-features' },
            },
        ]},

    />

    <!-- Our Process -->

    <Steps
        tagline='Simple and Effective.'
        id='seo-steps'
        title='Our SEO Process',
        items={[
            {
            title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
            description:
                "The initial consultation is designed to understand your business, target audience, and SEO goals. During this phase, we discuss your current SEO efforts and results, identify key business objectives, and target keywords. This step is crucial for setting realistic expectations and goals for our SEO campaign.",
            icon: 'tabler:presentation',  
            },

            {
            title: 'Step 2: <span class="font-medium">Website Audit</em>',
            description:
                "Our website audit evaluates the current status of your website's SEO. We identify technical issues, analyze on-page SEO elements such as title tags, meta descriptions, and headers, and assess site speed, mobile-friendliness, and user experience. This audit provides a clear picture of where your site stands and what needs improvement.",
            icon: 'tabler:file-time',
            },
            {
            title: 'Step 3: <span class="font-medium">Keyword Research</span>',
            description:
                'In the keyword research phase, we find the most relevant and valuable keywords for your business. We conduct thorough research to identify high-traffic, low-competition keywords and analyze competitors keyword strategies. The goal is to finalize a list of target keywords that will drive the most traffic and conversions for your site.',
            icon: 'tabler:source-code',
            },
            {
            title: 'Step 4: <span class="font-medium">Optimization and Content Development</span>',
            description:
                'This phase combines on-page optimization, content creation, technical SEO, link building, and local SEO (if applicable). We optimize your sites content and structure, create high-quality keyword-rich content, and improve internal linking. We also address technical aspects like site speed, mobile-friendliness, and schema markup.',
            icon: 'tabler:search',
            },
            {
                title: 'Step 5: <span class="font-medium">Analytics & Reporting</span>',
                description:
                    'Tracking progress and measuring the success of our SEO efforts is key to achieving your goals. We set up and configure Google Analytics and Search Console, monitor key performance indicators (KPIs) and SEO metrics, and provide regular reports. These insights allow us to adjust strategies as needed to ensure continuous improvement.',
                icon: 'tabler:chart-bar',
            },
            {
                title: 'Step 6: <span class="font-medium">Continuous Improvement</span>',
                description:
                    'SEO is an ongoing process. We conduct regular audits and performance reviews, update content and strategies based on the latest SEO trends and algorithm changes, and engage in ongoing optimization. This continuous improvement ensures sustained success and keeps your site competitive in search rankings.',
                icon: 'tabler:refresh',
            }
        ]}
    />

      <!-- Steps2 Widget ****************** -->

    <Steps2
    title="Why Choose Us?"
    subtitle="We are committed to delivering high-quality SEO services that drive results and help you achieve your business goals. Here are a few reasons why you should choose us for your SEO needs."
    items={[
        {
        title: 'Experience',
        description:
            'With years of experience in the industry, we have the knowledge and expertise to develop effective SEO strategies that drive results and help you achieve your business goals.',
        },
        {
        title: 'Customization',
        description:
            'We understand that every business is unique, which is why we offer customized SEO solutions tailored to your specific needs and goals. We work with you to develop a strategy that meets your objectives and delivers results.',
        },
        {
        title: 'Transparency',
        description:
            'We believe in transparency and open communication. We keep you informed every step of the way, providing regular updates and reports on the progress of your SEO campaign.',
        },
    ]}
    />

    <!-- Call to Action -->
    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>
