---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import type ItemGrid2 from '~/components/ui/ItemGrid2.astro';


const metadata = {
    title: 'Web Development',
};
---

<Layout metadata={metadata}>
    <Hero
        tagline="Service"
        actions={[{ variant:"primary", target: '', text: 'Start exploring', href: '#web-development-features' }]}
        image={{
            src: '~/assets/images/web-development-service-main.webp',
            alt: 'RVB Web Development Solutions Laptop with Code ',
        }}
        >
        <Fragment slot="title">
            Web Development Services
        </Fragment>

        <Fragment slot="subtitle">
            Our mission is to help businesses thrive in an increasingly 
            digital world using web development solutions tailored to 
            their business needs. Need a website? Storefront? SEO? 
            We cover everything.
        </Fragment>
        
    </Hero>

    <!-- Web Development Features -->
    <Features2
        id='web-development-features'
        tagline='Building Online Presence'
        title='Web Development Services'
        subtitle='Our web development services are designed to help businesses create a strong online presence. We offer a range of services from website design to ecommerce solutions. Our team will work with you to create a website that is both visually appealing and functional.'
        items={[
            {
                title: 'Scalable Websites',
                description: 'We build websites that are scalable and can grow with your business, ensuring that your website can handle increased traffic and functionality as your business expands.',
                icon: 'tabler:table-options',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Templates or Custom Design',
                description: 'We offer both template-based and custom website design services, allowing you to choose the option that best fits your needs and budget.',
                icon: 'tabler:columns-3',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Content Management',
                description: 'We help you manage your website’s content, including adding new pages, creating blogs with tailored keywords, and knowing where to put it.',
                icon: 'tabler:file-text',
                classes:{ panel: 'service-card-features' },
            },
            {
                image: {
                    src: '~/assets/images/seo-web-dev-main.png',
                    alt: 'AstroWind Content Image',
                },
                title: 'Search Engine Optimization',
                description: 'We optimize your website for search engines, helping you improve your search engine rankings and drive more organic traffic to your site.',
                icon: 'tabler:seo',
                classes:{ panel: 'service-card-features' },

            },
            {
                title: 'Web Hosting',
                description: 'We provide web hosting services to keep your website up and running smoothly, ensuring that it is secure, fast, and reliable.',
                icon: 'tabler:server',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Ecommerce Solutions',
                description: 'We design and develop online stores that are visually appealing and user-friendly, ensuring a seamless shopping experience for your customers.',
                icon: 'tabler:shopping-bag',
                classes:{ panel: 'service-card-features' },
            },
        ]},

    />

    <!-- Our Process -->

    <Steps
        id='Why Choose Us?'
        tagline='We make it easy'
        title='Our Process in 5 Simple Steps'
        items={[
            {
            title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
            description:
                "We start by understanding your unique needs and goals. Our team will then craft a detailed proposal outlining the scope of work, timelines, and cost.",
            icon: 'tabler:presentation',  
            },

            {
            title: 'Step 2: <span class="font-medium">Planning & Design</em>',
            description:
                "Our team will gather all necessary information and create a project plan. We then move on to the design phase where we create the designs for your website.",
            icon: 'tabler:file-time',
            },
            {
            title: 'Step 3: <span class="font-medium">Development & Testing</span>',
            description:
                'This is where our developers bring the designs to life. We adhere to best coding practices and build a website that is not only visually appealing but also functional and user-friendly.',
            icon: 'tabler:source-code',
            },
            {
            title: 'Step 4: <span class="font-medium">Deployment</span>',
            description:
                'Once everything is tested and approved by you, we deploy the website and make it live for the world to see.',
            icon: 'tabler:shareplay',
            },
            {
            title: 'Step 5: <span class="font-medium">Post Launch Support</span>',
            description:
                'Our relationship doesn’t end at deployment. We offer post-launch support to fix any issues and ensure smooth operation.',
            icon: 'tabler:heart-filled',
            },
        ]}
        image={{ src: '~/assets/images/steps-module-main.png',
        alt: 'Main Services Image',

        }}
    />

    <!-- Pricing Section -->
    <Prices
        id='web-development-prices'
        tagline='We have the right plan for you'
        title="Our Web Development Packages"
        subtitle="Choose the package that best fits your needs and budget. We offer a range of web development packages to help you get started with your online presence."
        prices={[
            {
                title: 'basic',
                subtitle: 'Optimal choice for personal use',
                price: 750,
                period: 'Starting At',
                items: [
                    {
                        description: '1-5 Page Website',
                    },
                    {
                        description: 'Brand Integration',
                    },
                    {
                        description: 'WordPress Theme'
                    },
                    {
                        description: '3 Revisions',
                    },
                ],
                callToAction: {
                    target: '_blank',
                    text: 'Get Started',
                    href: '/contact',
                },
            },
            {
                title: 'Business',
                subtitle: 'Optimal choice for small teams',
                price: 2499,
                period: 'starting at',
                items: [
                    {
                        description: '5-10 Page Website',
                        icon: 'tabler:check',
                        classes: { icon: 'bg-white w-5 h-5 font-bold p-1 text-white' },
                    },
                    {
                        description: '10 Stock Photos',
                    },
                    {
                        description: 'Agency Supplied Content',
                    },
                    {
                        description: 'WordPress Theme',
                    },
                    {
                        description: '10 Revisions',
                    },
                    {
                        description: 'Domain Purchasing',
                    },
                ],
                callToAction: {
                    target: '_blank',
                    text: 'Get Started',
                    href: '/contact',
                    variant: 'special-price-primary',
                },
                hasRibbon: true,
                ribbonTitle: 'popular',
            },
            {
                title: 'premium',
                subtitle: 'Optimal choice for large teams',
                price: 10000,
                period: 'one-time',
                items: [
                {
                    description: 'everything in business',
                },
                {
                    description: 'Custom Features',
                },
                {
                    description: 'Ecommerce Integration',
                },
                {
                    description: 'Advanced SEO Package',
                },
                {
                    description: '1 Year Hosting Included',
                },
                {
                    description: 'Custom Email Setup',
                },
                {
                    description: 'Social Media Integration',
                },
                ],
                callToAction: {
                target: '_blank',
                text: 'Get Started',
                href: '/contact',
                },
            },
        ]},
    />

    <!-- Call to Action -->
    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>
