---
import CallToAction from '../components/widgets/CallToAction.astro';
import Hero2 from '../components/widgets/Hero2.astro';
import Layout from '../layouts/PageLayout.astro';
import Prices from '../components/widgets/Pricing.astro';
import Features2 from '../components/widgets/Features2.astro';
import Steps from '../components/widgets/Steps.astro';

const metadata = {
    title: 'Web Development - Services',
    description: 'Our web development services are designed to help businesses create a strong online presence. We offer a range of services from website design to ecommerce solutions.',
    robots: {
        index: true,
        follow: true,
    },
    openGraph: {
        title: 'Web Development - Services',
        description: 'Our web dev services are designed to help businesses create a strong online presence. We offer a range of services from website design to ecommerce solutions.',
        images: [
            {
                url: '~/assets/images/web-development-service-main.webp',
                width: 800,
                height: 600,
                alt: 'RVB Web Development Solutions Laptop with Code',
            },
        ],
    },
    twitter: {
        cardType: 'summary_large_image',
    },
};
---

<Layout metadata={metadata}>
    <Hero2
        actions={[{ variant:"primary", target: '', text: 'Start Exploring', href: '#features' }]}
        image={{
            src: '~/assets/images/web-dev-service-main-draft.webp',
            alt: 'RVB Web Development Solutions Laptop with Code ',
        }}
        >
        <Fragment slot="title">
            Web <span class="text-primary">Development</span> Solutions
        </Fragment>

        <Fragment slot="subtitle">
            We are <span class="intro-text-bold">experts</span> in the web development landscape. We offer a <span class="intro-text-bold">plethora</span> of services 
            that can be <span class="intro-text-bold">tailored</span> to meet the needs of your businesses and industry.
            Enhance your digital strategy with a website that <span class="intro-text-bold">drives engagement</span> and <span class="intro-text-bold">delivers results</span>.
        </Fragment>
        
    </Hero2>

    <!-- Web Development Features -->
    <Features2
        id='features'
        tagline='Building Online Presence'
        title='Web Development Services'
        subtitle="Our web development services are designed to help businesses create a strong online presence. That's why we offer everything from design to development."
        items={[
            {
                title: 'Web Design',
                description: 'Your brands first impression. We work with you to bring your vision to the digital world by creating custom, user-friendly designs, that look great and deliver functionality.',
                icon: 'tabler:pencil-code',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Performance',
                description: "A fast website is key to keeping visitors engaged and improving search rankings. We focus on enhancing performance by writing efficient code to ensure quick load times.",
                icon: 'tabler:brand-speedtest',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Content Management',
                description: "Your message matters. We provide professional content creation services such as website copy, engaging blog posts, and photo editing.",
                icon: 'tabler:file-text',
                classes:{ panel: 'service-card-features' },
            },
            {
                image: {
                    src: '~/assets/images/seo-web-dev-main.png',
                    alt: 'AstroWind Content Image',
                },
                title: 'Search Engine Optimization',
                description: 'We optimize your website for search engines, helping you improve your search engine rankings and drive more organic traffic to your site.',
                icon: 'tabler:seo',
                classes:{ panel: 'service-card-features' },

            },
            {
                title: 'Web Hosting',
                description: "We offer secure, high-performance hosting solutions to keep your running smoothly and quickly. Fast  load times, consistent up-time, and dedicated support.",
                icon: 'tabler:server',
                classes:{ panel: 'service-card-features' },
            },
            {
                title: 'Ecommerce Solutions',
                description: "Turn your website into a powerful sales platform. From product display to secure checkout, we develop an e-commerce experience that drives growth.",
                icon: 'tabler:shopping-bag',
                classes:{ panel: 'service-card-features' },
            },
        ]},

    />

    <!-- Our Process -->
    <Steps
        id='Why Choose Us?'
        tagline='We make it easy'
        title='Our Process in 5 Simple Steps'
        items={[
            {
            title: 'Step 1: <span class="font-medium">Consultation & Agreement</span>',
            description:
                "We start by understanding your unique needs and goals. Our team will then craft a detailed proposal outlining the scope of work, timelines, and cost.",
            icon: 'tabler:presentation',  
            },

            {
            title: 'Step 2: <span class="font-medium">Planning & Design</em>',
            description:
                "Our team will gather all necessary information and create a project plan. We then move on to the design phase where we create the designs for your website.",
            icon: 'tabler:file-time',
            },
            {
            title: 'Step 3: <span class="font-medium">Development & Testing</span>',
            description:
                'This is where our developers bring the designs to life. We adhere to best coding practices and build a website that is not only visually appealing but also functional and user-friendly.',
            icon: 'tabler:source-code',
            },
            {
            title: 'Step 4: <span class="font-medium">Deployment</span>',
            description:
                'Once everything is tested and approved by you, we deploy the website and make it live for the world to see.',
            icon: 'tabler:shareplay',
            },
            {
            title: 'Step 5: <span class="font-medium">Post Launch Support</span>',
            description:
                'Our relationship doesn’t end at deployment. We offer post-launch support to fix any issues and ensure smooth operation.',
            icon: 'tabler:heart-filled',
            },
        ]}
        image={{ src: '~/assets/images/rvb-steps-main.webp',
        alt: 'Steps to Our Process',

        }}
    />

    <!-- Pricing Section -->
    <Prices
        id='web-development-prices'
        tagline='We have the right plan for you'
        title="Our Web Development Packages"
        subtitle="Choose the package that best fits your needs and budget. We offer a range of web development packages to help you get started with your online presence."
        prices={[
            {
                title: 'basic',
                subtitle: 'For Those Just Starting Out',
                price: 750,
                period: 'Starting At',
                items: [
                    {
                        description: '1-5 Page Website',
                    },
                    {
                        description: 'Brand Integration',
                    },
                    {
                        description: 'Mobile Responsive Design',
                    },
                    {
                        description: '1 Year Hosting Included',
                    },
                    {
                        description: '3 Revisions',
                    },
                ],
                callToAction: {
                    target: '_self',
                    text: 'Get Started',
                    href: '/contact',
                },
            },
            {
                title: 'Business',
                subtitle: 'For Growing Businesses',
                price: 2499,
                period: 'starting at',
                items: [
                    {
                        description: 'Everything in Basic',
                        icon: 'tabler:check',
                        classes: { icon: 'bg-white w-5 h-5 font-bold p-1' },
                    },
                    {
                        description: '5 Additional Pages',
                    },
                    {
                        description: '10 Stock Images',
                    },
                    {
                        description: 'Agency Supplied Content',
                    },
                    {
                        description: '10 Revisions',
                    },
                    {
                        description: 'Domain Purchasing',
                    },
                    {
                        description: 'Basic SEO Package',
                    },
                ],
                callToAction: {
                    target: '_self',
                    text: 'Get Started',
                    href: '/contact',
                    variant: 'special-price-primary',
                },
            },
            {
                title: 'premium',
                subtitle: 'For Established Businesses',
                price: 9999,
                period: 'starting at',
                items: [
                {
                    description: 'Everything in Business',
                },
                {
                    description: '10 Additional Pages',
                },
                {
                    description: '20 Additional Stock Images',
                },
                {
                    description: 'Custom Features',
                },
                {
                    description: 'Ecommerce Store Setup',
                },
                {
                    description: 'Advanced SEO Package',
                },
                {
                    description: 'Custom Email Setup',
                },
                {
                    description: 'Unlimited Revisions',
                },
                ],
                callToAction: {
                target: '_self',
                text: 'Get Started',
                href: '/contact',
                },
            },
        ]},
    />

    <!-- Call to Action -->
    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
            variant: 'primary',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>
