---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
    title: 'Web Hosting Solutions',
};
---

<Layout metadata={metadata}>
    <Hero
        tagline="Service"
        actions={[{ variant:"primary", target: '', text: 'Start exploring', href: '#Features' }]}
        image={{
            src: '~/assets/images/web-hosting-service-main.webp',
            alt: 'RVB Web Hosting Solutions Laptop Connected to Cloud Servers',
        }}
        >
        <Fragment slot="title">
            Web Hosting Solutions
        </Fragment>

        <Fragment slot="subtitle">
            Our web hosting solutions are designed to keep your 
            website up and running smoothly. We offer a range of 
            services from website migration to server maintenance. 
            Our team of experts will work with you to ensure that your 
            website is secure, fast, and reliable.
        </Fragment>
    </Hero>

    <!-- Features Section -->
    <Features2
        id="Features"
        tagline='We do things better'
        title="Our Features and Services"
        subtitle="We offer a range of features to keep your website online and running fast."
        items={[
            {
                title: '99.9% Uptime Guarantee',
                description: 'We guarantee that your website will be up and running 99.9% of the time, ensuring that your customers can access your website whenever they need to.',
                icon: 'tabler:clock',
            },
            {
                title: 'Scalable Hosting Plans',
                description: 'We offer scalable hosting plans that can grow with your business, allowing you to easily upgrade your hosting plan as your website traffic and storage needs increase.',
                icon: 'tabler:arrow-up-right-circle',

            },
            {
                title: '24/7 Technical Support',
                description: 'We provide 24/7 technical support to help you resolve any issues with your website, ensuring that your website is up and running smoothly at all times.',
                icon: 'tabler:headset',
            },
            {
                title: 'Secure Data Centers',
                description: 'Our servers are located in secure data centres that meet modern redundancy and compliance standards. Your website and data are secured against physical and virtual threats.',
                icon: 'tabler:shield-check',
            },
            {
                title: 'Automatic Backups',
                description: 'We automatically back up your website data and files on a regular basis, ensuring that you can quickly recover your website in the event of data loss or server failure.',
                icon: 'tabler:device-floppy',
            },
            {
                title: 'SSL Certificate Included',
                description: 'We include an SSL certificate with all of our hosting plans, encrypting data transmitted between your website and your visitors to ensure that sensitive information is secure and protected.',
                icon: 'tabler:lock',
            },
        ]},
    />

    <!-- Pricing Section -->
    <Prices
        id='Prices'
        tagline='Theres a plan for everyone'
        title="Flexible Pricing Plans"
        subtitle="We offer a range of flexible pricing plans to suit your needs. Whether you're a small business or a large enterprise, we have a hosting plan that's right for you."
        prices={[
            {
                title: 'basic',
                subtitle: 'Optimal for fow traffic sites',
                price: 11,
                period: 'Per Month',
                items: [
                    {
                        description: '3 GB of storage',
                    },
                    {
                        description: '500 GB of bandwidth',
                    },
                    {
                        description: '5 email accounts',
                    },
                    {
                        description: '1 domain hosted',
                    },
                    {
                        description: 'Helpdesk support',
                        icon: '',
                    }
                ],
                callToAction: {
                    target: '_self',
                    text: 'Get started',
                    href: '/contact#form',
                },
            },
            {
                title: 'Business',
                subtitle: 'Optimal for small businesses',
                price: 35,
                period: 'Per Month',
                items: [
                    {
                        description: '20 GB of storage',
                    },
                    {
                        description: 'unlimited bandwidth',
                    },
                    {
                        description: '15 email accounts',
                    },
                    {
                        description: '5 domains hosted',
                    },
                    {
                        description: 'Advanced cPanel help',
                    },
                    {
                        description: 'Premium support available',
                    }
                ],
                callToAction: {
                    target: '_self',
                    text: 'Get started',
                    href: '/contact#form',
                    variant: 'special-price-primary',
                },
            },
            {
                title: 'premium',
                subtitle: 'Optimal for enterprise users',
                price: 79,
                period: 'Per Month',
                items: [
                    {
                        description: '50 GB of storage',
                    },
                    {
                        description: 'Unlimited bandwidth',
                    },
                    {
                        description: 'Unlimited email accounts',
                    },
                    {
                        description: '10 domains hosted',
                    },
                    {
                        description: 'Premium support available',
                    },
                ],
                callToAction: {
                    target: '_self',
                    text: 'Get started',
                    href: '/contact#form',
                },
            },
        ]},
        >
        <div class=" text-center py-4">
            <p class="text-gray-600 dark:text-white text-lg">Hello </p>
        </div>
    </Prices>

    <!-- FAQs Section -->
    <FAQs
    title="Frequently Asked Questions"
    subtitle="Some commonly asked questions about web hosting. If you have any other questions, visit our contact page."
    tagline="Got Questions? We've Got Answers."
    classes={{ container: 'max-w-6xl' }}
    items={[
        {
            title: 'What is web hosting?',
            description: 'Web hosting is a service that allows individuals and organizations to post a website or web page onto the Internet. A web host, or web hosting service provider, is a business that provides the technologies and services needed for the website or webpage to be viewed on the Internet. Websites are hosted, or stored, on special computers called servers.',
        },
        {
            title: 'What are the different types of web hosting?',
            description: 'There are several different types of web hosting, including shared hosting, VPS hosting, dedicated hosting, and cloud hosting. Each type of hosting has its own advantages and disadvantages, and the best type of hosting for you will depend on your specific needs and budget.',
        },
        {
            title: 'How do I choose the right web hosting plan?',
            description: 'When choosing a web hosting plan, it’s important to consider factors such as the amount of storage and bandwidth you need, the number of email accounts you require, and the level of technical support you need. You should also consider your budget and the specific requirements of your website.',
        },
        {
            title: 'What is an SSL certificate?',
            description: 'An SSL certificate is a digital certificate that authenticates the identity of a website and encrypts information sent to the server using SSL technology. SSL certificates protect sensitive information such as credit card numbers, usernames, passwords, and other personal data from being intercepted by hackers.',
        },
        {
            title: 'What is cPanel?',
            description: 'cPanel is a web hosting control panel that allows website owners to manage their websites and server settings through a user-friendly interface. With cPanel, you can easily create email accounts, install software, manage databases, and perform other tasks without needing to know how to code or use the command line.',
        },
        {
            title: 'What is WPtoolkit?',
            description: 'WPtoolkit is a set of tools and utilities that make it easier to manage WordPress websites. With WPtoolkit, you can easily install, update, and manage WordPress plugins and themes, perform backups and restores, and optimize your website for performance and security.',
        }
        ]}
    />


    <!-- Call to Action -->
    <CallToAction
    actions={[
        {
            text: 'Contact Us',
            href: '/contact#form',
            target: '_self',
        },
        ]}
    >
        <Fragment slot="title">
        Ready to Get Started?
        </Fragment>

        <Fragment slot="subtitle">
            We’re here to help you take your business to the next level. Contact us today to learn more about our services and how we can help you achieve your goals.
        </Fragment>

    </CallToAction>
</Layout>