---
import { SITE } from 'astrowind:config';
---

<img src="/decapcms/rvb-main-logo-icon.png" width="72" height="72">
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-3xl font-bold text-[#7776ff] whitespace-nowrap dark:text-[#7776ff]">
  {SITE?.name}
</span>
